/* General */

body {
  width: 95%;
  margin: auto;
}

ul {
  padding-left: 20px;
}

header,
.main_form_fieldset,
.secondary_form_fieldset,
ul.part-list-items {
  display: flex;
  flex-wrap: wrap;
}

/* HEADER */

header {
  border-bottom: 1px grey solid;;
}
header div{
  width: 45%;
}

header div.about {
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: right;
}
/* Form */
#param {
  width: fit-content;
  margin: auto;
}

.form_wrapper fieldset {
  border: 1px grey solid;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  min-width: 400px;
  width: 400px;
  margin: 30px;
}

.secondary_form_fieldset fieldset{
  width: 1330px;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
  text-align: center;
}

fieldset .fieldset_content.fieldset_disabled {
  pointer-events: none;
  opacity: 0.4;
}

.group_wrapper {
  width: 49%;
  margin: auto;
  vertical-align: top;
}

input,
select {
  text-align: center;
}

.actions {
  width: 100%;
  text-align: center;
}

/* Part selector*/
#part_collection_advanced {
  display: none;
}

ul.part-list-items > li {
  padding-left: 1px;
  width: 400px;
  padding-right: 1px;
}

.part-category{
  text-transform: capitalize
}

.part-category:hover{
  cursor: pointer
}

.part-category::before{
  content: '-';
  margin-right:2px;
  font-weight: bold
}
.part-category.closed::before{
  content:'+';
}



/* Table */
#results {
  margin-top: 10px;
  display:none
}

#count {
    text-align: center;
    font-weight: bold;
}

#results tbody tr,
#results thead tr {
  background-color: lightgrey;
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
}
#results tbody tr td,
#results thead tr td {
  vertical-align: top;
  text-align: center;
  padding: 5px 10px;
  flex: 1;
}
#results tbody tr td:nth-child(even) {
  background-color: grey;
}
#results thead tr td:first-child,
#results tbody tr td:first-child {
  flex: 0 0 30px;
  width: 30px;
}
#results thead tr td:last-child {
  display: none;
}
#results tbody tr td:last-child {
  width: 100%;
  flex: 1 1 100%;
  height: 0;
  overflow: hidden;
  padding: 0;
  background-color: white;
}
.show {
  height: auto !important;
  padding: 5px 10px !important;
  border-top: 1px solid black;
}



/* Details */

.stagesDetails {
    width: 100%;
    margin: 0 auto;
}

.stage {
    width: auto;
    float: left;
}

.caracts ul,
.composition .general,
.composition .fuelstack {
    text-align: left;
}

#part_collection_advanced {
  display: none;
}


/* Tooltips */
[data-tooltip] {
  position: relative;
  border-bottom: 1px dashed #000;
  cursor: help
}

[data-tooltip]::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: attr(data-tooltip);
  left: 0;
  top: calc(100% + 10px);
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
  background-color: white;
  z-index: 10;
  padding: 8px;
  width: 300px;
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover::after {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 300ms;
}
